Source: medulla-update-manager
Section: misc
Priority: extra
Maintainer: Nicolas Lécureuil <nicolas.lecureuil@siveo.net>
Build-Depends: debhelper (>= 5), python-all (>= 2.6), python-all-dev (>= 2.6.6-3~)
Standards-Version: 3.9.5
X-Python-Version: >= 2.6

Package: medulla-update-manager
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Pulse2 updates helper
 Helper to list and install system updates
